input#modalContact.modal(type="checkbox")
div(role="dialog" aria-labelledby="contactTitle")
	form.card.smallpad
		label.modal-close(for="modalContact")
		h3#contactTitle.section= translations["Contact form"]
		fieldset
			label(for="userEmail")= translations["Email"]
			input#userEmail(type="email")
		fieldset
			label(for="mailSubject")= translations["Subject"]
			input#mailSubject(type="text")
		fieldset
			label(for="mailContent")= translations["Content"]
			br
			textarea#mailContent
		fieldset
			button(type="button" onClick="trySendMessage()") Send
			p#emailSent= translations["Email sent!"]
