extends layout

block css
	link(rel="stylesheet", href="/stylesheets/index.css")

block content
	.container#indexPage
		// Modals
		case lang
			when "en"
				include translations/en.pug
				include langNames/en.pug
				include welcome/en.pug
				include modal-lang/en.pug
				include modal-help/en.pug
			when "fr"
				include translations/fr.pug
				include langNames/fr.pug
				include welcome/fr.pug
				include modal-lang/fr.pug
				include modal-help/fr.pug
		.row
			#header.col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
				#mainTitle
					img(src="/images/index/unicorn.svg")
					.info-container
						p vchess.club
					img(src="/images/index/wildebeest.svg")
				#flagMenu.clickable(
						onClick="document.getElementById('modalLang').checked=true")
					img(src="/images/flags/" + lang + ".svg")
				#helpMenu.clickable(
						onClick="document.getElementById('modalHelp').checked=true")
					.info-container
						p= translations["Help"]
		.row
			my-variant-summary(v-for="(v,idx) in sortedCounts"
				v-bind:vobj="v" v-bind:index="idx" v-bind:key="v.name")
		// Other modals:
		input#modalB4welcome.modal(type="checkbox")
		div(role="dialog")
			#b4welcome.card.text-center.small-modal
				h3.blue= translations["First visit?"]
				p#readThis.clickable(@click="showWelcomeMsg")
					=translations[">>> Please read this <<<"]

block javascripts
	script.
		const translations = !{JSON.stringify(translations)};
		const variantArray = !{JSON.stringify(variantArray)};
	script(src="/javascripts/utils/misc.js")
	script(src="/javascripts/socket_url.js")
	script(src="/javascripts/components/variantSummary.js")
	script(src="/javascripts/index.js")
