input#modalLang.modal(type="checkbox")
div(role="dialog")
	#language.card
		label.modal-close(for="modalLang")
		form
			fieldset
				label(for="langSelect")= translations["Language"]
				select#langSelect
					each language,langCode in langName
						option(value=langCode selected=(lang==langCode))
							=language

input#modalSettings.modal(type="checkbox")
div(role="dialog" aria-labelledby="settingsTitle")
	.card.smallpad(@change="updateSettings")
		label.modal-close(for="modalSettings")
		h3#settingsTitle.section= translations["Preferences"]
		fieldset
			label(for="setSqSize")= translations["Square size (in pixels). 0 for 'adaptative'"]
			input#setSqSize(type="number" v-model="settings.sqSize")
		fieldset
			label(for="selectHints")= translations["Show move hints?"]
			select#setHints(v-model="settings.hints")
				option(value="0")= translations["None"]
				option(value="1")= translations["Moves from a square"]
				option(value="2")= translations["Pieces which can move"]
		fieldset
			label(for="setHighlight")= translations["Highlight squares? (Last move & checks)"]
			input#setHighlight(type="checkbox" v-model="settings.highlight")
		fieldset
			label(for="setCoords")= translations["Show board coordinates?"]
			input#setCoords(type="checkbox" v-model="settings.coords")
		fieldset
			label(for="selectColor")= translations["Board colors"]
			select#setBcolor(v-model="settings.bcolor")
				option(value="lichess")
					= translations["brown"]
				option(value="chesscom")
					= translations["green"]
				option(value="chesstempo")
					= translations["blue"]
		fieldset
			label(for="selectSound")= translations["Play sounds?"]
			select#setSound(v-model="settings.sound")
				option(value="0")= translations["None"]
				option(value="1")= translations["New game"]
				option(value="2")= translations["All"]

input#modalContact.modal(type="checkbox")
div(role="dialog" aria-labelledby="contactTitle")
	form.card.smallpad
		label.modal-close(for="modalContact")
		h3#contactTitle.section= translations["Contact form"]
		fieldset
			label(for="userEmail")= translations["Email"]
			input#userEmail(type="email")
		fieldset
			label(for="mailSubject")= translations["Subject"]
			input#mailSubject(type="text")
		fieldset
			label(for="mailContent")= translations["Content"]
			br
			textarea#mailContent
		fieldset
			button(type="button" onClick="trySendMessage()") Send
			p#emailSent= translations["Email sent!"]
