extends layout

block css
	link(rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons")
	link(rel="stylesheet" href="/stylesheets/variant.css")

block content
	.container#variantPage
		.row
			.col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
				h4.variantpage-title.text-center(v-on:click="toggleDisplay('rules')")
					| #{variant} Rules
				my-rules(v-show="display=='rules'")
			.col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
				h4.variantpage-title.text-center(v-on:click="toggleDisplay('game')")
					| #{variant} Game
				my-game(v-show="display=='game'")
			.col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
				h4.variantpage-title.text-center(v-on:click="toggleDisplay('problems')")
					| #{variant} Problems
				my-problems(v-show="display=='problems'")

block javascripts
	script(src="/javascripts/utils/misc.js")
	script(src="/javascripts/utils/socket_url.js")
	script(src="/javascripts/utils/array.js")
	script(src="/javascripts/utils/md5.js")
	script(src="/javascripts/base_rules.js")
	script(src="/javascripts/variants/" + variant + ".js")
	script.
		const VariantRules = #{variant}Rules;
		const V = VariantRules; //because this variable is often used
		const variant = "#{variant}";
	script(src="/javascripts/components/rules.js")
	script(src="/javascripts/components/game.js")
	script(src="/javascripts/components/problems.js")
	script(src="/javascripts/variant.js")
