p.text-center
  a(href="https://www.chessvariants.com/what.html") What is a chess variant?
  | &nbsp;&nbsp;&nbsp;&nbsp;
  a(href="https://www.chessvariants.com/why.html") Why play chess variants?

p
  a(href="/#/variants/Chess960") Chess960
  | &nbsp;variant allows to play under standard rules, with a random
  | (or not) symmetric (or not) initial position.

h3 Simplified games to learn chess

p Variants with very few different pieces, and a simplified goal.
-
  var varlist = [
    "Bishopawns",
    "Discoduel",
    "Dobutsu",
    "Knightpawns",
    "Pawns",
    "Pawnsking",
    "Queenpawns",
    "Rookpawns"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Forced captures

p.
  In a given position, there are generally less possible moves than in the
  orthodox games since you must capture.
-
  var varlist = [
    "Arena",
    "Capture",
    "Losers",
    "Monochrome",
    "Suicide"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Transformations

p Pieces generally transform when capturing.
-
  var varlist = [
    "Absorption",
    "Cannibal"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Modified boundaries

p Boards which communicating sides.
-
  var varlist = [
    "Circular",
    "Cylinder"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Different pawn movements

p Everything is as in the orthodox game, but pawns move unusually.
-
  var varlist = [
    "Berolina",
    "Diamond",
    "Vchess"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Different armies

p Standard pieces versus a team of different pieces.
-
  var varlist = [
    "Colorbound",
    "Empire",
    "Horde",
    "Orda",
    "Synochess"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Inspired by ball games

p Variants involving a ball, abstract or not, which must cross the board.
-
  var varlist = [
    "Ball",
    "Football",
    "Rugby"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 New pieces

p.
  A large variety of fairy pieces can be defined.
  Some very powerful like the Amazon, some rather weak like the Grasshopper.
-
  var varlist = [
    "Eightpieces",
    "Fullcavalry",
    "Grand",
    "Grasshopper",
    "Hoppelpoppel",
    "Omega",
    "Ordamirror",
    "Perfect",
    "Schess",
    "Shako",
    "Tencubed",
    "Wildebeest"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Several royal pieces

p In these games you must take care of two or more "kings".
-
  var varlist = [
    "Coregal",
    "Twokings",
    "Antiking1",
    "Antiking2"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Unorthodox captures

p Non-standard captures, but using known mechanisms.
-
  var varlist = [
    "Enpassant",
    "Rifle",
    "Zen"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

p.
  Captures are generally achieved without replacement. That is to say,
  you don't replace the enemy piece on its square to capture it.
-
  var varlist = [
    "Allmate1",
    "Allmate2",
    "Baroque",
    "Dynamo",
    "Fugue",
    "Interweave",
    "Rococo",
    "Maxima"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Pieces changing side

p Pieces' owners (color) may change during the game
-
  var varlist = [
    "Benedict",
    "Checkered1",
    "Checkered2",
    "Pacifist1",
    "Pacifist2"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Incomplete information

p.
  Some speculation is required in these variants,
  where some game informations are hidden.
-
  var varlist = [
    "Apocalypse",
    "Dark",
    "Hidden",
    "Hiddenqueen",
    "Synchrone1",
    "Synchrone2"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Random factors

p.
  These games include random effects,
  which can be funny, frustrating or both :)
-
  var varlist = [
    "Chakart",
    "Dice"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Inpired by knight movement

p.
  Variants based on the knight move,
  which augment or transform pieces' abilities.
-
  var varlist = [
    "Balaklava",
    "Knightmate",
    "Knightrelay1",
    "Knightrelay2"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Unusual initial setup

p Pawns and / or pieces are switched, which result in a very different game.
-
  var varlist = [
    "Upsidedown",
    "Pawnmassacre"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 "Easy" variants: simple rules

p.
  Only minor changes are made to the orthodox rules,
  resulting in a very similar game.
-
  var varlist = [
    "Coronation",
    "Pocketknight"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

p ...Or leading to a very different strategy:
-
  var varlist = [
    "Antimatter",
    "Atomic1",
    "Atomic2",
    "Checkless"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

//h3 Initially empty board
//
//Parachute
//"Crown chess" (place all units at move 1)

h3 Repositioning

p Pieces can be drop on the board, either immediately or later in the game.
-
  var varlist = [
    "Clorange",
    "Crazyhouse",
    "Madhouse",
    "Rampage",
    "Recycle",
    "Teleport"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Immobilization

p Pieces can be paralyzed under certain circumstances.
-
  var varlist = [
    "Koopa",
    "Madrasi"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Regional and historical variants

p (Partial) Game evolution in time and space.
-
  var varlist = [
    "Janggi",
    "Makpong",
    "Makruk",
    "Minishogi",
    "Minixiangqi",
    "Shatranj",
    "Shogi",
    "Sittuyin",
    "Xiangqi"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Kings race

p The goal is to cross the board with your king.
-
  var varlist = [
    "Racingkings",
    "Royalrace"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Several moves in one turn

p In these variants, you can play two or more moves per turn.
-
  var varlist = [
    "Doublemove1",
    "Doublemove2",
    "Monster",
    "Progressive1",
    "Progressive2"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Exchanging pieces positions

p Some or all pieces can be swapped.
-
  var varlist = [
    "Suction",
    "Swap",
    "Switching"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Different objective

p Orthodox rules, but the goal is not checkmate (or not only).
-
  var varlist = [
    "Extinction",
    "Threechecks",
    "Kinglet",
    "Koth"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]

h3 Miscelleanous

p.
  These variants are not classified yet, generally because they are the only
  one of their kind on this website.
-
  var varlist = [
    "Alice",
    "Ambiguous",
    "Avalanche",
    "Bicolour",
    "Brotherhood",
    "Castle",
    "Doublearmy",
    "Evolution",
    "Forward",
    "Freecapture",
    "Gridolina",
    "Hamilton",
    "Isardam",
    "Magnetic",
    "Maharajah",
    "Otage",
    "Pacosako",
    "Parachute",
    "Relayup",
    "Screen",
    "Takenmake",
    "Titan",
    "Wormhole"
  ]
ul
  for v in varlist
    li #[a(href="/#/variants/"+v) #{v}]
